button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: rgba(0, 0, 255, 0.397);
  color: white;
  padding: 5px;
}

input {
  border-radius: 3px;
  border: 1px solid rgb(107, 93, 16);
  height: 25px;
}

.container {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.welcome {
  text-align: center;
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: rgba(68, 52, 28, 0.555);
}

.phonebook-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.filter-enter {
  opacity: 0;
  transform: scale(0.1);
}

.filter-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 250ms ease;
}

.filter-exit {
  opacity: 1;
  transform: scale(1);
}

.filter-exit-active {
  opacity: 0;
  transform: scale(0.1);
  transition: all 250ms ease;
}

.title-appear {
  opacity: 0;
  transform: translateX(-50%);
}
.title-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease;
}

.notification-enter {
  opacity: 0;
  transform: translateY(-50%);
}
.notification-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 250ms ease;
}

.notification-exit {
  opacity: 1;
  transform: translateY(0);
}

.notification-exit-active {
  opacity: 0;
  transform: translateY(-50%);
  transition: all 250ms ease;
}

.title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: rgba(68, 52, 28, 0.555);
  margin-top: 0;
  margin-bottom: 0;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.795);
}

.authForm > label {
  margin-bottom: 10px;
}

.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
